html,
body,
.main-wrapper {
	height: 100vh !important;
}

blink {
	-webkit-animation-name: blink !important;
	-webkit-animation-iteration-count: infinite !important;
	-webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0) !important;
	-webkit-animation-duration: 1s;
}

.full-height {
	height: 100% !important;
}
.half-height {
	height: 50% !important;
}

.hide {
	display: none;
}