<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		title FM 17 Data API Demo - Thanks

		link(
			rel="stylesheet",
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",
			crossorigin="anonymous")
		link(rel='stylesheet', type='text/css' href='./styles/master.css')
	body
		.container-fluid.main-wrapper
			nav.navbar.navbar-primary.bg-primary
				span.navbar-brand.mb-0.h1 Your Excellent Website
			.row.justify-content-center.alighn-items-center.pt-4
				.jumbotron.bg-light
					h1.display-4 That was Awesome!
					p.lead Thanks for contacting us.
			.row.half-height